body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
 
    --font-font: font;
    --font-open-sans: "Open Sans";
    --default-regular-body: "SF Pro Text";
    --font-size-xl: 20px;
    --font-size-3xs-4: 9.4px;
    --font-size-smi-6: 12.6px;
    --font-size-2xs-5: 10.5px;
    --font-size-smi-8: 12.8px;
    --font-size-mini-2: 14.2px;
    --font-size-xs: 12px;
    --default-regular-body-size: 17px;
    --fill-color-dark-tertiary: rgba(118, 118, 128, 0.24);
    --label-color-dark-primary: #fff;
    --f7f9fc: #f7f9fc;
    --color-violet: #e08cff;
    --color-dimgray-100: #636363;
    --edf1f7: #edf1f7;
    --a7a7a7: #a7a7a7;
    --color-darkslateblue: #864c83;
    --a3a3a: #3a3a3a;
    --gap-9xs: 4px;

    --padding-6xs: 7px;
    --padding-5xs: 8px;
  
 
    --br-5xs-9: 7.9px;
    --br-11xs: 2px;
    --br-11xl: 30px;
  }
  