.iphone-14-1-child {
  position: absolute;
  top: 529px;
  left: 44.31px;
  border-radius: 50%;
  background: linear-gradient(180deg, #530061, #0d0a30);
  width: 192px;
  height: 192px;
  transform: rotate(62.5deg);
  transform-origin: 0 0;
}
.glad-youre-back,
.login {
  position: relative;
  font-weight: 600;
}
.glad-youre-back {
  font-size: 13.58px;
  font-weight: 500;
}
.login-text,
.username {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.username {
  border-radius: 10.19px;
  border: 0.8px solid var(--label-color-dark-primary);
  box-sizing: border-box;
  width: 339.61px;
  flex-direction: row;
  align-items: center;
  padding: 11.886176109313965px 13.584200859069824px;
}
.closed-eye-icon {
  position: relative;
  width: 15.28px;
  height: 15.28px;
  overflow: hidden;
  flex-shrink: 0;
}
.password {
  border-radius: 10.19px;
  border: 0.8px solid var(--label-color-dark-primary);
  box-sizing: border-box;
  width: 339.61px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11.886176109313965px 13.584200859069824px;
}
.remember-me {
  position: relative;
  font-weight: 500;
}
.password-rem,
.remember {
  display: flex;
  justify-content: flex-start;
}
.remember {
  flex-direction: row;
  align-items: center;
  gap: 3.4px;
  font-size: 13.58px;
}
.password-rem {
  flex-direction: column;
  align-items: flex-start;
  gap: 10.19px;
}
.login-bt-fp,
.login1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login1 {
  border-radius: 10.19px;
  background: linear-gradient(90.57deg, #628eff, #8740cd 53.13%, #580475);
  width: 339.61px;
  flex-direction: row;
  padding: 11.886176109313965px 8.49012565612793px;
  box-sizing: border-box;
}
.login-bt-fp {
  flex-direction: column;
  gap: 10.19px;
}
.credentials,
.upper-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credentials {
  gap: 21.23px;
  font-size: 16.98px;
}
.upper-section {
  gap: 11.89px;
}
.or-child {
  position: relative;
  border-top: 1.7px solid var(--color-dimgray);
  box-sizing: border-box;
  width: 146.03px;
  height: 1.7px;
}
.or {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16.98px;
}
.devicongoogle {
  position: relative;
  width: 35.66px;
  height: 35.66px;
  overflow: hidden;
  flex-shrink: 0;
}
.devicongoogle-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15.28px;
}
.other-logins,
.upper-section-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.other-logins {
  align-items: center;
  gap: 10.19px;
  font-size: 13.58px;
  color: var(--color-dimgray);
}
.upper-section-parent {
  position: absolute;
  top: 116px;
  left: 25px;
  width: 340px;
  align-items: flex-start;
  gap: 39.9px;
}
.terms-conditions {
  position: relative;
}
.customer-care,
.terms-conditions-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.customer-care {
  border-radius: 5.47px;
  background: linear-gradient(
    180deg,
    rgba(98, 98, 98, 0),
    rgba(98, 98, 98, 0.07)
  );
  width: 364.74px;
  align-items: center;
  justify-content: space-between;
  padding: 3.6473617553710938px 5.471042633056641px;
  box-sizing: border-box;
  font-size: var(--font-size-smi);
}
.dont-have-an-account-signup-parent {
  position: absolute;
  top: 664px;
  left: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7.29px;
  font-size: 14.59px;
}
.iphone-14-1-inner,
.iphone-14-1-item {
  position: absolute;
  top: 526px;
  left: 298px;
  border-radius: 50%;
  background: linear-gradient(180deg, #530061, #0d0a30);
  width: 122px;
  height: 122px;
}
.iphone-14-1-inner {
  top: -43px;
  left: 236px;
  width: 173px;
  height: 173px;
}
.time {
  position: absolute;
  top: 15%;
  left: calc(50% - 24.5px);
  line-height: 16px;
  font-weight: 600;
}
.battery-icon {
  position: absolute;
  top: 1.5px;
  right: 0;
  width: 26.5px;
  height: 11.5px;
}
.div {
  position: absolute;
  top: 0;
  right: 58.5px;
  line-height: 16px;
}
.alarm-icon,
.bluetooth-icon {
  position: absolute;
  top: 3px;
  right: -202.5px;
  width: 14px;
  height: 14px;
  display: none;
}
.bluetooth-icon {
  right: -217.5px;
}
.right-side {
  position: absolute;
  top: 3px;
  right: 5.5px;
  width: 90.5px;
  height: 16px;
  text-align: right;
}
.mobile-signal-icon {
  position: relative;
  width: 21px;
  height: 14px;
}
.carrier {
  position: relative;
  letter-spacing: -0.05px;
  line-height: 16px;
  display: none;
}
.wifi-icon {
  position: relative;
  width: 15px;
  height: 14px;
}
.left-side {
  position: absolute;
  top: 3px;
  left: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: left;
}
.statusbar-iphone-6-7-8-se {
  position: absolute;
  top: 11px;
  left: calc(50% - 184px);
  width: 375px;
  height: 20px;
  text-align: center;
  font-size: var(--font-size-xs);
  font-family: var(--font-sf-pro-text);
}
.iphone-14-1 {
  position: relative;
  background-color: #040f37;
  width: 100%;
  height: 788px;
  overflow: hidden;
  text-align: left;
  font-size: 30.56px;
  color: var(--label-color-dark-primary);
  font-family: var(--font-noto-sans);
}
